data/0raw
data/*/combined_data*.xlsx
data/10-person/complete
notebooks/personal/*
.vscode/launch.json
notebooks/.ipynb_checkpoints/

.devcontainer/.jupyter
.devcontainer/config.conf
.devcontainer/github*